In [ ]:
med_combining_log_and_formation_data_1.py

In [1]:
import lasio as las
import os
import pandas as pd
import csv

In [2]:
directory = "Data/Notebook 36"

# Initialise empty list for dataframes
df_list = []

for file in os.listdir(directory):
    if file.endswith('.las'):
        f = os.path.join(directory, file)

        # Convert LAS file to a DF
        las_file = las.read(f)
        df = las_file.df()
        
        # Create a column for the Well Name
        well_name = las_file.well.WELL.value
        df['WELL'] = well_name
        
        # Make sure depth is a column rather than an index
        df = df.reset_index()
        df = df.sort_values(['WELL', 'DEPT']).reset_index(drop=True)
        df_list.append(df)

# Create a single dataframe with all wells
well_df = pd.concat(df_list)

In [3]:
well_df

            DEPT         GR  DT  RHOB  DRHO  NPHI    WELL
0        50.2002        NaN NaN   NaN   NaN   NaN  L07-05
1        50.3002        NaN NaN   NaN   NaN   NaN  L07-05
2        50.4002        NaN NaN   NaN   NaN   NaN  L07-05
3        50.5002  34.355362 NaN   NaN   NaN   NaN  L07-05
4        50.6002  34.083130 NaN   NaN   NaN   NaN  L07-05
...          ...        ...  ..   ...   ...   ...     ...
38627  3927.6000        NaN NaN   NaN   NaN   NaN  L07-01
38628  3927.7000        NaN NaN   NaN   NaN   NaN  L07-01
38629  3927.8000        NaN NaN   NaN   NaN   NaN  L07-01
38630  3927.9000        NaN NaN   NaN   NaN   NaN  L07-01
38631  3928.0000        NaN NaN   NaN   NaN   NaN  L07-01

[118290 rows x 7 columns]

## Loading Formation Data

In [4]:
# Initialise empty list for dataframes
df_formation_list = []

for file in os.listdir(directory):
    if file.endswith('.csv'):
        f = os.path.join(directory, file)
        df = pd.read_csv(f)

        df_formation_list.append(df)

# Combine all formation data into a single dataframe
formations_df = pd.concat(df_formation_list)

In [5]:
formations_df

      Well     Stratigraphical Unit      Top   Bottom
0   L07-04      Maassluis Formation     0.00   448.00
1   L07-04     Oosterhout Formation   448.00   794.59
2   L07-04          Breda Formation   794.59   802.57
3   L07-04          Rupel Formation   802.57   890.75
4   L07-04              Asse Member   890.75  1022.00
..     ...                      ...      ...      ...
36  L07-01          Ten Boer Member  3555.00  3644.00
37  L07-01  Upper Slochteren Member  3644.00  3705.00
38  L07-01           Ameland Member  3705.00  3796.00
39  L07-01  Lower Slochteren Member  3796.00  3870.50
40  L07-01    Step Graben Formation  3870.50  3934.00

[98 rows x 4 columns]

Converting the dataframe to a dictionary

https://datascience.stackexchange.com/questions/67578/export-pandas-dataframe-to-a-nested-dictionary-from-multiple-columns

In [6]:
formations_dict = {k: f.groupby('Top')['Stratigraphical Unit'].apply(list).to_dict()
     for k, f in formations_df.groupby('Well')}

In [7]:
formations_dict

{'L07-01': {0.0: ['Upper North Sea Group'],
  697.74: ['Rupel Formation'],
  784.94: ['Asse Member'],
  834.0: ['Brussels Marl Member'],
  930.0: ['Ieper Member'],
  1310.02: ['Basal Dongen Tuffite Member'],
  1316.43: ['Landen Clay Member'],
  1332.0: ['Ommelanden Formation'],
  2161.84: ['Plenus Marl Member'],
  2163.67: ['Texel Formation'],
  2273.0: ['Upper Holland Marl Member'],
  2348.64: ['Middle Holland Claystone Member'],
  2351.58: ['Lower Holland Marl Member'],
  2354.5: ['Vlieland Claystone Formation'],
  2365.5: ['Lower Muschelkalk Member'],
  2431.0: ['Röt Claystone Member'],
  2529.0: ['Main Röt Evaporite Member'],
  2539.77: ['Solling Claystone Member'],
  2557.82: ['Basal Solling Sandstone Member'],
  2559.23: ['Hardegsen Formation'],
  2581.0: ['Detfurth Claystone Member'],
  2595.0: ['Lower Detfurth Sandstone Member'],
  2598.0: ['Volpriehausen Clay-Siltstone Member'],
  2674.0: ['Lower Volpriehausen Sandstone Member'],
  2727.0: ['Rogenstein Member'],
  2883.0: ['Main Claystone Member'],
  3043.24: ['Zechstein Upper Claystone Formation'],
  3068.4: ['Salt Member'],
  3104.5: ['Pegmatite Anhydrite Member'],
  3105.0: ['Red Salt Clay Member'],
  3107.0: ['Zechstein salt (inf.)'],
  3514.37: ['Basal Anhydrite Member'],
  3518.06: ['Carbonate Member'],
  3525.0: ['Anhydrite Member'],
  3545.0: ['Carbonate Member'],
  3554.5: ['Coppershale Member'],
  3555.0: ['Ten Boer Member'],
  3644.0: ['Upper Slochteren Member'],
  3705.0: ['Ameland Member'],
  3796.0: ['Lower Slochteren Member'],
  3870.5: ['Step Graben Formation']},
 'L07-04': {0.0: ['Maassluis Formation'],
  448.0: ['Oosterhout Formation'],
  794.59: ['Breda Formation'],
  802.57: ['Rupel Formation'],
  890.75: ['Asse Member'],
  1022.0: ['Brussels Marl Member'],
  1129.0: ['Ieper Member'],
  1640.35: ['Basal Dongen Tuffite Member'],
  1653.02: ['Landen Clay Member'],
  1673.0: ['Ommelanden Formation'],
  2703.0: ['Plenus Marl Member'],
  2708.0: ['Texel Formation'],
  2804.0: ['Upper Holland Marl Member'],
  2832.66: ['Middle Holland Claystone Member'],
  2858.0: ['Lower Holland Marl Member'],
  2869.0: ['Vlieland Claystone Formation'],
  2907.0: ['Middle Muschelkalk Marl Member'],
  2918.0: ['Muschelkalk Evaporite Member'],
  2927.0: ['Lower Muschelkalk Member'],
  3013.0: ['Upper Röt Claystone Member'],
  3092.63: ['Upper Röt Evaporite Member'],
  3095.18: ['Intermediate Röt Claystone Member'],
  3117.46: ['Main Röt Evaporite Member'],
  3169.99: ['Solling Claystone Member'],
  3201.18: ['Basal Solling Sandstone Member'],
  3203.0: ['Hardegsen Formation'],
  3227.65: ['Detfurth Claystone Member'],
  3244.0: ['Lower Detfurth Sandstone Member'],
  3261.48: ['Volpriehausen Clay-Siltstone Member'],
  3332.0: ['Lower Volpriehausen Sandstone Member'],
  3385.32: ['Rogenstein Member'],
  3554.97: ['Main Claystone Member'],
  3710.67: ['Zechstein Upper Claystone Formation'],
  3723.0: ['Zechstein salt (inf.)'],
  3801.82: ['Z2 Basal Anhydrite Member'],
  3805.0: ['Z2 Carbonate Member'],
  3813.35: ['Z1 Anhydrite Member'],
  3832.12: ['Z1 Carbonate Member'],
  3841.57: ['Coppershale Member'],
  3842.37: ['Ten Boer Member'],
  3912.0: ['Upper Slochteren Member'],
  3982.0: ['Ameland Member'],
  4097.52: ['Lower Slochteren Member'],
  4177.0: ['Limburg Groep']},
 'L07-05': {0.0: ['North Sea Supergroup'],
  1088.5: ['Ommelanden Formation'],
  1487.0: ['Texel Formation'],
  1571.0: ['Holland Formation'],
  1663.0: ['Vlieland Claystone Formation'],
  1683.0: ['Friesland Member'],
  1719.0: ['Zechstein Group'],
  3510.5: ['Z1 (Werra) Formation'],
  3542.0: ['Ten Boer Member'],
  3599.5: ['Upper Slochteren Member'],
  3694.5: ['Ameland Member'],
  3757.5: ['Lower Slochteren Member'],
  3862.0: ['Limburg Groep']}}

In [8]:
formations_dict['L07-01']

{0.0: ['Upper North Sea Group'],
 697.74: ['Rupel Formation'],
 784.94: ['Asse Member'],
 834.0: ['Brussels Marl Member'],
 930.0: ['Ieper Member'],
 1310.02: ['Basal Dongen Tuffite Member'],
 1316.43: ['Landen Clay Member'],
 1332.0: ['Ommelanden Formation'],
 2161.84: ['Plenus Marl Member'],
 2163.67: ['Texel Formation'],
 2273.0: ['Upper Holland Marl Member'],
 2348.64: ['Middle Holland Claystone Member'],
 2351.58: ['Lower Holland Marl Member'],
 2354.5: ['Vlieland Claystone Formation'],
 2365.5: ['Lower Muschelkalk Member'],
 2431.0: ['Röt Claystone Member'],
 2529.0: ['Main Röt Evaporite Member'],
 2539.77: ['Solling Claystone Member'],
 2557.82: ['Basal Solling Sandstone Member'],
 2559.23: ['Hardegsen Formation'],
 2581.0: ['Detfurth Claystone Member'],
 2595.0: ['Lower Detfurth Sandstone Member'],
 2598.0: ['Volpriehausen Clay-Siltstone Member'],
 2674.0: ['Lower Volpriehausen Sandstone Member'],
 2727.0: ['Rogenstein Member'],
 2883.0: ['Main Claystone Member'],
 3043.24: ['Zechstein Upper Claystone Formation'],
 3068.4: ['Salt Member'],
 3104.5: ['Pegmatite Anhydrite Member'],
 3105.0: ['Red Salt Clay Member'],
 3107.0: ['Zechstein salt (inf.)'],
 3514.37: ['Basal Anhydrite Member'],
 3518.06: ['Carbonate Member'],
 3525.0: ['Anhydrite Member'],
 3545.0: ['Carbonate Member'],
 3554.5: ['Coppershale Member'],
 3555.0: ['Ten Boer Member'],
 3644.0: ['Upper Slochteren Member'],
 3705.0: ['Ameland Member'],
 3796.0: ['Lower Slochteren Member'],
 3870.5: ['Step Graben Formation']}

## Merging the Formations and Well Data

In [9]:
def add_formation_name_to_df(depth, well_name):

    formations_depth = formations_dict[well_name].keys()   
    
    # Need to catch if we are at the last formation
    try:
        at_last_formation = False
        below = min([i for i in formations_depth if depth < i])
    except ValueError:
        at_last_formation = True

    # Need to catch if we are above the first listed formation
    try:
        above_first_formation = False
        above = max([i for i in formations_depth if depth > i])
    except:
        above_first_formation = True

    if above_first_formation:
        formation = ''

    # Check if the current depth matches an existing formation depth
    nearest_depth = min(formations_depth, key=lambda x:abs(x-depth))
    if depth == nearest_depth:
        formation = formations_dict[well_name][nearest_depth][0]

    else:
        if not at_last_formation:
            if depth >= above and depth <below:
                formation = formations_dict[well_name][above][0]
        else:
                formation = formations_dict[well_name][above][0]
    return formation

In [103]:
depth = 930
formations_depth = formations_dict[well_name].keys()   
print(formations_depth)

#https://stackoverflow.com/questions/36275459/find-the-closest-elements-above-and-below-a-given-number



# Need to catch if we are at the last formation
try:
    at_last_formation = False
    below = min([i for i in formations_depth if depth < i])
except ValueError:
    at_last_formation = True

# Need to catch if we are above the first listed formation
try:
    above_first_formation = False
    above = max([i for i in formations_depth if depth > i])
except:
    above_first_formation = True

if above_first_formation:
    print('')
    
# Check if the current depth matches an existing formation depth
nearest_depth = min(formations_depth, key=lambda x:abs(x-depth))
if depth == nearest_depth:
    print(f'Current Depth: {depth} is equal to {nearest_depth}')
    print(formations_dict[well_name][nearest_depth][0])

else:
    if not at_last_formation:
        if depth >= above and depth <below:
            print(f'Current Depth: {depth} is between {above} and {below}')
            print(formations_dict[well_name][above][0])
    else:
            print(f'Current Depth: {depth} is deeper than {above}')
            print(formations_dict[well_name][above][0])

dict_keys([0.0, 697.74, 784.94, 834.0, 930.0, 1310.02, 1316.43, 1332.0, 2161.84, 2163.67, 2273.0, 2348.64, 2351.58, 2354.5, 2365.5, 2431.0, 2529.0, 2539.77, 2557.82, 2559.23, 2581.0, 2595.0, 2598.0, 2674.0, 2727.0, 2883.0, 3043.24, 3068.4, 3104.5, 3105.0, 3107.0, 3514.37, 3518.06, 3525.0, 3545.0, 3554.5, 3555.0, 3644.0, 3705.0, 3796.0, 3870.5])
Current Depth: 930 is equal to 930.0
Ieper Member

In [10]:
well_df['FORMATION'] = well_df.apply(lambda x: add_formation_name_to_df(x['DEPT'], x['WELL']), axis=1)

In [11]:
well_df

,DEPT,GR,DT,RHOB,DRHO,NPHI,WELL,FORMATION
0,50.2002,NaN,NaN,NaN,NaN,NaN,L07-05,North Sea Supergroup
1,50.3002,NaN,NaN,NaN,NaN,NaN,L07-05,North Sea Supergroup
2,50.4002,NaN,NaN,NaN,NaN,NaN,L07-05,North Sea Supergroup
3,50.5002,34.355362,NaN,NaN,NaN,NaN,L07-05,North Sea Supergroup
4,50.6002,34.083130,NaN,NaN,NaN,NaN,L07-05,North Sea Supergroup
...,...,...,...,...,...,...,...,...
38627,3927.6000,NaN,NaN,NaN,NaN,NaN,L07-01,Step Graben Formation
38628,3927.7000,NaN,NaN,NaN,NaN,NaN,L07-01,Step Graben Formation
38629,3927.8000,NaN,NaN,NaN,NaN,NaN,L07-01,Step Graben Formation
38630,3927.9000,NaN,NaN,NaN,NaN,NaN,L07-01,Step Graben Formation
38631,3928.0000,NaN,NaN,NaN,NaN,NaN,L07-01,Step Graben Formation

In [18]:
well_df.loc[(well_df['WELL'] == 'L07-01') & (well_df['DEPT'] >= 929) & (well_df['DEPT'] <= 935)]

,DEPT,GR,DT,RHOB,DRHO,NPHI,WELL,FORMATION
8641,929.0001,50.114014,154.603882,NaN,NaN,NaN,L07-01,Brussels Marl Member
8642,929.1001,50.693840,155.115875,NaN,NaN,NaN,L07-01,Brussels Marl Member
8643,929.2001,51.219246,155.709686,NaN,NaN,NaN,L07-01,Brussels Marl Member
8644,929.3001,51.917465,155.969910,NaN,NaN,NaN,L07-01,Brussels Marl Member
8645,929.4001,52.883636,155.905548,NaN,NaN,NaN,L07-01,Brussels Marl Member
8646,929.5001,53.966286,155.869080,NaN,NaN,NaN,L07-01,Brussels Marl Member
8647,929.6001,54.907707,156.127869,NaN,NaN,NaN,L07-01,Brussels Marl Member
8648,929.7001,55.735260,156.618805,NaN,NaN,NaN,L07-01,Brussels Marl Member
8649,929.8001,56.506104,157.195526,NaN,NaN,NaN,L07-01,Brussels Marl Member
8650,929.9001,56.992592,157.908783,NaN,NaN,NaN,L07-01,Brussels Marl Member
8651,930.0001,57.109894,158.691528,NaN,NaN,NaN,L07-01,Ieper Member
8652,930.1001,57.357613,159.235138,NaN,NaN,NaN,L07-01,Ieper Member
8653,930.2001,58.922699,159.435120,NaN,NaN,NaN,L07-01,Ieper Member
8654,930.3001,61.437363,159.389496,NaN,NaN,NaN,L07-01,Ieper Member
8655,930.4001,63.580299,159.153625,NaN,NaN,NaN,L07-01,Ieper Member
8656,930.5001,65.212234,158.753937,NaN,NaN,NaN,L07-01,Ieper Member
8657,930.6001,65.917450,158.293488,NaN,NaN,NaN,L07-01,Ieper Member
8658,930.7001,65.419815,157.886841,NaN,NaN,NaN,L07-01,Ieper Member
8659,930.8001,64.003555,157.561951,NaN,NaN,NaN,L07-01,Ieper Member
8660,930.9001,62.123444,157.333923,NaN,NaN,NaN,L07-01,Ieper Member
8661,931.0001,59.972588,157.208008,NaN,NaN,NaN,L07-01,Ieper Member
8662,931.1001,57.890816,157.192017,NaN,NaN,NaN,L07-01,Ieper Member
8663,931.2001,56.439301,157.298950,NaN,NaN,NaN,L07-01,Ieper Member
8664,931.3001,56.050354,157.526337,NaN,NaN,NaN,L07-01,Ieper Member
8665,931.4001,56.992630,157.821899,NaN,NaN,NaN,L07-01,Ieper Member
8666,931.5001,58.678925,158.047241,NaN,NaN,NaN,L07-01,Ieper Member
8667,931.6001,60.112885,158.017792,NaN,NaN,NaN,L07-01,Ieper Member
8668,931.7001,60.993980,157.629883,NaN,NaN,NaN,L07-01,Ieper Member
8669,931.8001,61.454727,156.959198,NaN,NaN,NaN,L07-01,Ieper Member
8670,931.9001,61.648476,156.242432,NaN,NaN,NaN,L07-01,Ieper Member
8671,932.0001,61.505142,155.734375,NaN,NaN,NaN,L07-01,Ieper Member
8672,932.1001,61.198982,155.554443,NaN,NaN,NaN,L07-01,Ieper Member
8673,932.2001,61.122490,155.703247,NaN,NaN,NaN,L07-01,Ieper Member
8674,932.3001,61.311638,156.154205,NaN,NaN,NaN,L07-01,Ieper Member
8675,932.4001,61.638618,156.886810,NaN,NaN,NaN,L07-01,Ieper Member
8676,932.5001,62.062447,157.809753,NaN,NaN,NaN,L07-01,Ieper Member
8677,932.6001,62.187401,158.753021,NaN,NaN,NaN,L07-01,Ieper Member
8678,932.7001,61.673233,159.470825,NaN,NaN,NaN,L07-01,Ieper Member
8679,932.8001,60.515800,159.796997,NaN,NaN,NaN,L07-01,Ieper Member
8680,932.9001,59.122116,159.826965,NaN,NaN,NaN,L07-01,Ieper Member
8681,933.0001,57.982025,159.839386,NaN,NaN,NaN,L07-01,Ieper Member
8682,933.1001,57.331848,160.028931,NaN,NaN,NaN,L07-01,Ieper Member
8683,933.2001,57.190163,160.352661,NaN,NaN,NaN,L07-01,Ieper Member
8684,933.3001,57.404373,160.611877,NaN,NaN,NaN,L07-01,Ieper Member
8685,933.4001,57.926186,160.618866,NaN,NaN,NaN,L07-01,Ieper Member
8686,933.5001,58.357704,160.335236,NaN,NaN,NaN,L07-01,Ieper Member
8687,933.6001,58.413139,159.945465,NaN,NaN,NaN,L07-01,Ieper Member
8688,933.7001,58.062607,159.694580,NaN,NaN,NaN,L07-01,Ieper Member
8689,933.8001,57.353172,159.645294,NaN,NaN,NaN,L07-01,Ieper Member
8690,933.9001,56.374428,159.709320,NaN,NaN,NaN,L07-01,Ieper Member
8691,934.0001,55.488022,159.728577,NaN,NaN,NaN,L07-01,Ieper Member
8692,934.1001,54.992607,159.594147,NaN,NaN,NaN,L07-01,Ieper Member
8693,934.2001,55.039108,159.333252,NaN,NaN,NaN,L07-01,Ieper Member
8694,934.3001,55.905609,158.960602,NaN,NaN,NaN,L07-01,Ieper Member
8695,934.4001,57.176018,158.374847,NaN,NaN,NaN,L07-01,Ieper Member
8696,934.5001,58.539879,157.638824,NaN,NaN,NaN,L07-01,Ieper Member
8697,934.6001,60.097054,157.005829,NaN,NaN,NaN,L07-01,Ieper Member
8698,934.7001,61.520424,156.614746,NaN,NaN,NaN,L07-01,Ieper Member
8699,934.8001,62.389473,156.451813,NaN,NaN,NaN,L07-01,Ieper Member
8700,934.9001,62.471489,156.458069,NaN,NaN,NaN,L07-01,Ieper Member